@font-face {
	font-family: 'ABCWhyte Book';
	src: url("/ABCWhyte-Book.woff") format("woff"), url("/ABCWhyte-Book.woff2") format("woff2"), url("/ABCWhyte-Book.otf") format("opentype");
	font-display: swap
}

@font-face { 
	font-family: 'ABCWhyte Medium';
	src: url("/ABCWhyte-Medium.woff") format("woff"), url("/ABCWhyte-Medium.woff2") format("woff2"), url("/BCWhyte-Medium.otf") format("opentype");
	font-display: swap
}

@font-face {
	font-family: 'Noto Sans Medium';
	src: url("/NotoSansJP-Medium.otf") format("opentype");
	font-display: swap
}

@font-face {
	font-family: 'Noto Sans Regular';
	src: url("/NotoSansJP-Regular.otf") format("opentype");
	font-display: swap
}

$section-header-font: "ABCWhyte Book","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
$section-header-size: 3rem;
$section-header-line-height: 120%;
$section-header-font-weight: 400;
$section-header-font-margin: 1rem;

